@model IEnumerable<PhongNhatHuy.SachOnline.Models.NHAXUATBAN>

<h4 class="text-center">SÁCH THEO NHÀ XUẤT BẢN</h4>
<div class="row text-center">
    <div class="list-group">

        @foreach (var nxb in Model)
        {
                <a href="@Url.Action("SachTheoNXB", "SachOnline", new { id = nxb.MaNXB })" class="list-group-item">
                    @nxb.TenNXB
                </a>
                
                }
            </div>
        </div>