<div class="list-group">
    <a href="#" class="list-group-item active">Sách bán chạy</a>
    <a href="#" class="list-group-item">Sách Kinh tế 101</a>
    <a href="#" class="list-group-item">Lập trình C#</a>
    <a href="#" class="list-group-item">Văn học hiện đại</a>
</div>